form { 
	margin-top: 30px; /* ...adjust as needed */
}
textarea { /* these are suggestions... */
	width: 100%;
	height: 100px;
}

input[type="text"], input[type="email"], textarea {

  background-color : #d1d1d1; 

}

fieldset {
  background-color:#708d9c;
  padding:16px;	
}

input[type="submit"] {
	display: block;
	width: 100%;
  	padding: 14px 28px;
 	text-align: center;
}

